body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
}

h1 {
    align-self: center;
    text-align: center;
    color: azure;
    font-size: 100px;
    margin: 100px;
}

.buttons {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    cursor: pointer;
}

button:hover {
    scale: 1.2;
}

.player,
.computer {
    color: aliceblue;
    text-align: center;
}

.result {
    color: aliceblue;
    text-align: center;
    font-size: x-large;
    padding: 30px;
    margin-bottom: 50px;
}

.scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 50px;
}
